*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body {
    color:rgba(18, 73, 124, 0.849);
    font-family:Verdana, Tahoma, sans-serif;
}
.header {
    background-color: rgba(0, 81, 255, 0.281);
    color:white;
    padding-left: 15px;
    width:auto;
}

.header a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 120%;
}
.header a:hover {
    background: rgba(0, 0, 0, 0.377);
    color: white;
}

table {
    width:100%;
}
table,th,tr,td{
    border:2px solid rgb(0, 98, 128);
    ;
    border-collapse:collapse;
}
tr,th,td{
    background:none;
    color:rgb(0, 98, 128);
}
tr td {
    padding: 10px;
}
input[type='text'] {
    width: 50%;
    padding: 5px;
    margin: 5px 0 10px 50px;
    border: none;
    background: #f1f1f1;
}

.report {
    background-color: dodgerblue;
    color: white;
    padding: 5px 5px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 25%;
    font-weight: bold;
}
.reportHead>p {
    padding:8px;
}
.marks > span {
    padding: 15px;
}
