* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana,Tahoma, sans-serif;
    font-size: 16px;
}
.header {
    background-color: rgba(0, 81, 255, 0.281);
    color:white;
    padding-left: 15px;
    width:auto;
}

.header a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 140%;
}
.header a:hover {
    background: rgba(0, 0, 0, 0.377);
    color: white;
}

.std {
    background-color: rgba(0, 0, 0, 0.377);
    color:white;
    margin-right:80%;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: large;
}

.std:hover {
    background-color:dodgerblue;
}

.container {
    margin: 20px;
}

.container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    height: 65px;
    display: block;
    text-align:center;
    opacity: 0.8;
}
.english {
    background: rgba(244, 165, 96, 0.918);
}
.math {
    background:rgba(30, 143, 255);
}
.social {
    background: rgba(0, 128, 0);
}
.science {
    background: rgba(165, 42, 42, 0.842);
}
.rme {
    background: rgba(238, 130, 238, 0.863);
}
.ict {
    background: rgba(128, 128, 128);
}
.bdt{
    background: rgba(0, 153, 255);
}
.french {
    background: rgba(153, 205, 50);
}
.gh {
    background: rgba(0, 0, 0, 0.616);
}

.container a:hover {
    opacity : 1;
}

.myslides {
    display: none;
    width:100%;
    height: 300px;
    padding: 30px
}


.footer {
    background-color: rgba(0, 38, 255, 0.13);
    text-align: right;
    width: 100%;
    height: 45px;
    padding: 15px;
}

@media (min-width:48em) {
    .myslides {
        height: 500px;
        padding: 30px 50px;
    }
}
