* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
}
.container {
    padding: 15px;
}
.std {
    background-color: rgba(0, 0, 0, 0.377);
    color:white;
    margin-right:80%;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

header > h1, header > h3 {
    text-align:center;
}

input[type='text'], input[type='number'] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

input[type='text']:focus, input[type='numbers']:focus {
    background: #ddd;
    outline: none;
}
.save, .reset {
    background-color: dodgerblue;
    color: white;
    padding: 16px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}
.reset {
    background-color: lightgray;
    color: black;
}


@media (min-width: 48em) {
    .container {
        margin-left:60px;
    }
    input[type='text'], input[type='number'] {
        width: 50%;
    }
}