* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body {
    font-family:Verdana, Tahoma, sans-serif;
}
.header {
    background-color: rgba(0, 81, 255, 0.281);
    color:white;
    padding-left: 15px;
    width:auto;
}

.header a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 140%;
}
.header a:hover {
    background: rgba(0, 0, 0, 0.377);
    color: white;
}
h1 {
    text-align: center;
}

.std, .edit, .del {
    background-color: rgba(2, 0, 0, 0.377);
    color:white;
    margin-left:10px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}
form, button {
    display:inline;
}
.std:hover, .edit:hover {
    background-color: dodgerblue;
}
.del:hover {
    background-color: red;
}

.count > span {
    padding: 0px 20px;
}


table {
    border-collapse: collapse;
    width:100%;
}
table, th, td {
    border: 2px solid black;
    text-align: center;
}
tr th {
    background:black;
    color:white;
}
tr td {
    padding: 10px;
    text-align: left;
}

@media (min-width:48em) {
    .std {
        margin-left: 80%;
    }
}