* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body {
    font-family:Verdana, Tahoma, sans-serif;
}
.header {
    background-color: rgba(0, 81, 255, 0.281);
    color:white;
    padding-left: 15px;
    width:auto;
}

.header a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 120%;
}
.header a:hover {
    background: rgba(0, 0, 0, 0.377);
    color: white;
}
h1 {
    text-align: center;
}

.std, .edit, .del  {
    background-color: rgba(2, 0, 0, 0.377);
    color:white;
    margin-left:10px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}
form, button {
    display:inline;
}
.std:hover, .edit:hover {
    background-color: dodgerblue;
}
.del:hover {
    background-color: red;
}
.count {
    padding: 3px 0px;
}
.count > span {
    padding: 0px 5px;
}

table {
    width:100%;
}
table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
tr th {
    background:black;
    color:white;
}
tr td {
    padding: 10px;
    text-align: left;
}

input[type='text'] {
    width: 45%;
    padding: 5px;
    margin: 5px 0 10px 10px;
    border: none;
    background: #f1f1f1;
}

.container {
    padding: 20px 0 0 10px;
}

.report {
    background-color: dodgerblue;
    color: white;
    padding: 5px 5px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 25%;
    font-weight: bold;
}
.reportHead>p {
    padding:8px;
}
.marks > span {
    padding: 15px;
}


@media (min-width:48em) {
    .std {
        margin-left: 80%;
    }
    .header a {
        padding:5px 10px;
        font-size:140%;
    }
    .count > span {
        padding: 0px 20px;
    }
    
    .report {
        width:10%;
    }
    input[type='text'] {
        width:35%;
    }

}